* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #262626;
}

body::-webkit-scrollbar {
    width: 8px;               /* ширина scrollbar */
  }
  body::-webkit-scrollbar-track {
    background: #fff;        /* цвет дорожки */
  }
  body::-webkit-scrollbar-thumb {
    background-color: #262626;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

html {
    overflow-x: hidden;
}

.cont {
    max-width: 1440px;
    margin: 0 auto;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(34, 34, 34, 0.801);
    backdrop-filter: blur(3px);
    
}

a {
    color: #fff;
}

img {
    height: 100%;
    width: 100%;
}

.nav-body {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 400vw;
    height: 100%;
    display: flex;
	flex-wrap: nowrap;
}

.page-sections {
    display: flex;
	flex-wrap: nowrap;
    width: 500vw;
    height: 90vh;
}

.panel {
    height: 100vh;
    width: 100vw;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 50px;
}

.other-block {
    height: 300px;
    background-color: #fff;
    color: #262626;
}

.scroll-block { 
    color: #262626;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}